@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

body {
    background-color: #EDEFEE;
    font-family: "Markazi Text", serif;
    margin: 3rem 5%;
}

header > img {
    display: block;
    margin: 1rem auto;
    padding-top: 0.4rem;
    height: 5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    max-width: 50rem;
    margin: 3rem;
    background-color:#E0E0E2;
    box-shadow: inset 1px 3px 8px #333;
    border-radius: 0.5rem;
}

h2 {
    color: #495e57;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

.book-container {
    margin: 2.5rem;
}

.booking-details {
    display: grid;
    grid-gap: 0.5rem;
}

label {
    color: #495e57;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}

input {
    padding: 0.3rem 0.5rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    border-bottom: 2px solid #495e57;
    color: #495e57;
}

input:hover {
    border-bottom: 2px solid #f4ce14;
}

button {
    display: block;
    margin: auto;
    padding: 0.7rem 1.5rem;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.07rem;
    color: #EDEFEE;
    background-color: #495e57;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

button:hover {
    color: #f4ce14;
    box-shadow: 1px 3px 8px #f4ce14;
    transition: background-color 0.3s;
}