@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

/* Reset and General Styles */
:root {
    --main-bg-color: #EDEFEE;
    --nav-bg-color: #495e57;
    --nav-text-color: #EDEFEE;
    --nav-hover-color: #f4ce14;
    --main-text-color: #495e57;
    --article-bg-color: #eed8c9c8;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Markazi Text", serif;
    margin: 3rem 5%;
}

/* Header */
header > img {
    display: block;
    margin: 0 auto;
    padding-top: 0.4rem;
    height: 5rem;
}

/* Navigation */
nav {
    background-color: var(--nav-bg-color);
    border-radius: 1rem;
    margin: 1rem 0rem;
    text-align: center;
}

nav ul {
    list-style: none;
    font-size: 2rem;
    padding-inline-start: 0rem;
}

nav ul li {
    display: inline-block;
    margin: 0.25rem;
}

nav ul a {
    color: var(--nav-text-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-color);
}

nav ul li:first-of-type a {
    font-weight: bold;
}


/* Sticky Container */
.sticky-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-bottom: 0.5rem;
    background-color: var(--main-bg-color);
}

/* Main Content */
h2 {
    font-size: 2rem;
    color: var(--main-text-color);
    text-align: center;
    padding: 0.5rem auto;
}

section {
    display: flex;
    gap: 2rem 1rem;
    margin: 1rem 0rem;
}

article {
    flex: 1;
    border-radius: 0.5rem;
    box-shadow: inset 1px 3px 3px #333;
    margin: 2rem auto;
    background-color: var(--article-bg-color);
    padding: 0rem 1rem;
}

article ul {
    list-style: none;
}

article p {
    color: var(--main-text-color);
    font-size: 1.2rem;
    text-indent: 0.25rem;
    line-height: 1.3;
    padding-bottom: 1rem;
}

article img {
    max-width: 100%;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;    
}

article img:hover {
    transform: scale(1.05);
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    padding: 0.5rem;
    font-weight: bold;
}

/* Promotion Section */
#promotion {
    background-image: url('../assets/background-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#promotion h1 {
    color: var(--nav-text-color);
    font-size: 4rem;
    padding: 0.3rem;
    text-align: center;
    animation: promo 2s infinite;
}

#promotion p {
    color: white;
    font-size: 1.5rem;
    padding: 0.3rem 0.5rem;
}

#option a {
    display: inline-block;
    color: #083388;
    font-size: 1.1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0.8rem auto;
}

#option a:hover {
    color: white;
}

/* Footer */
.container_footer {
    display: flex;
    justify-content: space-between; 
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    border-radius: 0.5rem;
}

.footer_wrap {
    display: flex;
    width: 100%;
}

.footer-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.footer-items h3 {
    font-size: 1.2rem;
    margin: 0.8rem auto;
}

.footer-items p {
    margin: 0.7rem 0;
}

.footer_logo img {
    height: 7rem;
    width: 4rem;
    margin: 1rem;
    padding: 0.8rem;
}

/* Icon */
.material-symbols-outlined {
    color: #f4ce14;
    margin-right: 0.5rem;
}

/* Animation */
@keyframes promo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
